adafruit-blinka
adafruit-circuitpython-minimqtt
adafruit-circuitpython-logging
adafruit-circuitpython-display_text
adafruit-circuitpython-ntp
adafruit-circuitpython-neopixel
adafruit-circuitpython-us100>=1.1.17
