[Unit]
Description=Work monitoring Service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/srv/workmon
EnvironmentFile=/srv/workmon/environment
ExecStart=/srv/workmon/env/bin/workmon $ARGS
ExecStop=/bin/kill -2 $MAINPID
TimeoutStartSec=0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
